{% extends "base.html" %}
{% block content %}
	<div class="container-fluid mt-4 text-center">.
	    <h3 class="container mb-4 text-center"><b>Личный кабинет клиента</b></h3>
		<ul class="list-group">
		  <li class="list-group-item">Дата создания: <b>{{ client.date_creat }}</b></span></li>
		  <li class="list-group-item">Истец: <b>{{ client.claimant }}</b></li>
		  <li class="list-group-item">дата рождения: <b>{{ client.date_of_birth }}</b></li>		  
		  <li class="list-group-item">Ответчик: <b>{{ client.defendant }}</b></li>
		  <li class="list-group-item">Адрес почты: <b>{{ client.email }}</b></li>
		  <li class="list-group-item">Пароль от почты: <b>{{ client.email_password }}</b></li>
		  <li class="list-group-item">Дата осмотра: <b>{{ client.date_of_inspection }}</b></li>
		  <li class="list-group-item jumbotron">
		  <a href="{% url 'upload_docs_url' client.id %}" class="btn btn-success mt-2"><i class="far fa-save fa-2x m-2"></i>Загрузить новый файл</a>
		  <h4 class="container mb-4 text-center"><b>Загруженные файлы</b></h4>
		  <div class="owl-carousel">
			  {% for file in files %}
			    <div class="card border-black">
				    <div class="card-body">
				    	<h4 class="card-title">{{ file.claimant }}</h4>
				  		<a href="{{ file.document.url }}" target="_blank" class="btn btn-black border text-center"><i class="far fa-file-pdf m-2 fa-2x"></i>Посмотреть</a>
				  	</div>	
			  	</div>
			  {% endfor %}
		  </div>
		  </li>
		</ul>		
	</div>
