{% extends "base.html" %}
{% block sud %}

<div class="container p-4">
  <div class="card-group">

    <!-- Card -->
    <div class="card p-4">

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
          <div class="card-body">
            <h6 class="card-title">02-1646/2019 ∼ М-0603/2019</h6>
            <h6 class="card-title">Истец: Борзаев Х.А.</h6>
            <h6 class="card-title">Ответчик: ПАО "СК "Росгосстрах"</h6>
            <h6 class="card-title">Судья: Соколова Е.М.</h6>                        

            <a href="{% url 'detail' %}" class="btn btn-primary">Подробнее</a>
          </div>

      </div>
      <!-- Card content -->

    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card p-4">

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
          <div class="card-body">
            <h6 class="card-title">02-1646/2019 ∼ М-0603/2019</h6>
            <h6 class="card-title">Истец: Борзаев Х.А.</h6>
            <h6 class="card-title">Ответчик: ПАО "СК "Росгосстрах"</h6>
            <h6 class="card-title">Судья: Соколова Е.М.</h6>                        

            <a href="{% url 'detail' %}" class="btn btn-primary">Подробнее</a>
          </div>

      </div>
      <!-- Card content -->

    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card p-4">

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
          <div class="card-body">
            <h6 class="card-title">02-1646/2019 ∼ М-0603/2019</h6>
            <h6 class="card-title">Истец: Борзаев Х.А.</h6>
            <h6 class="card-title">Ответчик: ПАО "СК "Росгосстрах"</h6>
            <h6 class="card-title">Судья: Соколова Е.М.</h6>                        

            <a href="{% url 'detail' %}" class="btn btn-primary">Подробнее</a>
          </div>

      </div>
      <!-- Card content -->

    </div>
    <!-- Card -->

  </div>
  <!-- Card group -->
</div>

<div class="container p-4">
  <div class="card-group">

    <!-- Card -->
    <div class="card p-4">

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
          <div class="card-body">
            <h6 class="card-title">02-1646/2019 ∼ М-0603/2019</h6>
            <h6 class="card-title">Истец: Борзаев Х.А.</h6>
            <h6 class="card-title">Ответчик: ПАО "СК "Росгосстрах"</h6>
            <h6 class="card-title">Судья: Соколова Е.М.</h6>                        

            <a href="{% url 'detail' %}" class="btn btn-primary">Подробнее</a>
          </div>

      </div>
      <!-- Card content -->

    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card p-4">

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
          <div class="card-body">
            <h6 class="card-title">02-1646/2019 ∼ М-0603/2019</h6>
            <h6 class="card-title">Истец: Борзаев Х.А.</h6>
            <h6 class="card-title">Ответчик: ПАО "СК "Росгосстрах"</h6>
            <h6 class="card-title">Судья: Соколова Е.М.</h6>                        

            <a href="{% url 'detail' %}" class="btn btn-primary">Подробнее</a>
          </div>

      </div>
      <!-- Card content -->

    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card p-4">

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
          <div class="card-body">
            <h6 class="card-title">02-1646/2019 ∼ М-0603/2019</h6>
            <h6 class="card-title">Истец: Борзаев Х.А.</h6>
            <h6 class="card-title">Ответчик: ПАО "СК "Росгосстрах"</h6>
            <h6 class="card-title">Судья: Соколова Е.М.</h6>                        

            <a href="{% url 'detail' %}" class="btn btn-primary">Подробнее</a>
          </div>

      </div>
      <!-- Card content -->

    </div>
    <!-- Card -->

  </div>
  <!-- Card group -->
</div>
{% endblock %}