{% extends "base.html" %}
{% block content %}
    <div class="container jumbotron mt-4 hoverable text-center">
      <h1 class="container mb-4">Начало работы с клиентом
        <a href="{% url 'add_client_url' %}" class="btn btn-primary">Добавить клиента</a>
      </h1>
        <div class="owl-carousel">
          {% for client in clients %}
            <!-- Card -->
            <div class="card border-black">
              <div class="card-body">
                <h4 class="card-title">{{ client.claimant|truncatechars:20 }}</h4>
                <h4 class="card-title">{{ client.defendant|truncatechars:20 }}</h4>

                <a href="{% url 'detail_client_url' client.id  %}" class="btn btn-primary">Подробнее</a>
              </div>
            </div>
            <!-- Card -->  
          {% endfor %}
        </div>
    </div>  

  
{% endblock %}